* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    margin-right:20px;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 20px;
    text-align: center;
    align-items: center;
    background-color: white;
}

#icon {
    padding-left: 80px;
    padding-top: 2px;
    text-align: center;
    font-size: 15px;
}


.title .engine {
    font-size: 30px;
}

.title .engine a {
    color: black;
    text-align: center;
    text-decoration: none;

}

.title .engine {
    color: black;
    text-align: center;
    text-decoration: none;
}

.title .engine a:hover {
    background-color: #ddd;
    color: black;
}

.title .engine a.active {
    background-color: #ddd;
    color: white;
}

.title .engine:hover {
    background-color: #ddd;
    color: black;
}

.title .engine:active {
    background-color: #ddd;
    color: white;
}

.title input[type=text] {
    font-size: 30px;
    border: none;
}

.title .search-container input {
    width: 250px;
    height: 50px;
    font-size: 25px;
    right: 100px;
}

.title .search-container button {
    padding: 5px 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.title .search-container button:hover {
    background: #ccc;
}

.title input[type=text] {
    border: 1px solid #ccc;
}

footer {
    background-color: #bbb;
    width: 100%;
    height: 120px;
}

.socialbuttons {
    width: 300px;
    height: 100px;
    margin-left: 42%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.socialbuttons p {
    color: #696969;
    text-align: center;
}

.fa {
    padding-top: 17px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: solid;
    margin: 5px 5px;
    color: white;
    border: 2px solid #737373;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.register {
    background-color: #ddd;
    margin: 25px auto;
    padding: 20px;
    width: 1000px;
    height: 100%;
    min-width: 300px;
    text-align: center;
}

h2 {
    text-align: center;
}

input {
    padding: 10px;
    margin: 0px;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

.tab .tabtitle {
    float: left;
    width: 120px;
    text-align: justify;
    text-align-last: justify;
    vertical-align: middle;
    font-size: 18px;
}

.tab {
    display: inline-block;
    margin: 20px;
    width: 380px;
}

.tab .redfont{
    color:red;
}

.tab textarea {
    width: 350px;
    height: 400px;
    padding:10px;
    margin-top: 5px;
}

button {
    background-color: #737373;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.4;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #717171;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: .5s .1s;
}

#myBtn:hover {
    background-color: #555;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}